<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= locals.title %></title>
    <script src="/scripts/script.js" defer></script>
</head>
<body>
    <div class="joke-area">
        <p id="joke" onclick="showPunchline()"><%= locals.joke.question %></p>
        <p id="punchline"><%= locals.joke.answer %></p>
    </div>
    <form action="/" method="POST">
        <textarea type="text" name="question" placeholder="Add new joke"></textarea>
        <textarea type="text" name="answer" placeholder="Punchline?"></textarea>
        <input type="submit" value="Submit">
    </form>
</body>
</html>